/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

.root {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #1976D2;
}

.text-field {
    -fx-padding: 5px;
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 3px;
}

.body-card-text {
    -fx-fill: #000;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 14px;
}

/* Styles for title card */
.title-card {
    -fx-fill: #000;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 19.2px;
    -fx-font-weight: bold;
}
.main{
	-fx-background-color:FFFFFF;
}
/* Styles for link card */
.link-card {
    -fx-fill: #000;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-underline: true;
}

/* Styles for section title */
.section-title {
    -fx-fill: #000;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 23.28px;
    -fx-font-weight: bold;
}
.menu {
    -fx-background-color: #FFFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 5, 0);
}

